<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>logo</h1>
    <nav>
      <a [routerLink]="''" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
      <a routerLink="/sobre" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Sobre</a>
      <a routerLink="/forms" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Formularios</a>
      <a routerLink="/produtos" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Produtos</a>
      <a routerLink="/cinema" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Cinema</a>
      <a routerLink="/dashboard" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Dashboard</a>
      <a routerLink="/admin" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Admin</a>
      <a routerLink="/todo" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">todo-list</a>
    </nav>
  </header>

  <router-outlet></router-outlet>
  
</body>
</html>
