header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 184);
    padding-top:10px ;
    padding-bottom:10px ;
    margin-bottom: 15px;
}
nav{
    display: flex;
    gap: 10px;
}
nav a{
    color: white;
    list-style: none;
    text-decoration: none;
}
h1{
    color: white;
}
footer{
    padding: 20px;
    background-color: rgb(27, 26, 26);
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 97%;
    overflow-x: hidden;
}
.active{
    color: yellow!important;
}